* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}

.no-scroll {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    height: 104px;
    padding-left: 34px;
}

.m-menu {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 68px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #d4d4d4;
    margin-left: 34px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.search-input {
    border: none;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    color: #a5a5a5;
    margin-left: 22px;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.navigation-link:hover {
    text-decoration: underline;
}

.button-group {
    height: 100%;
}

.button {
    cursor: pointer;
    outline: none;
    height: 100%;
}

.sign-up {
    color: #5671f6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: #ffffff;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid #d4d4d4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    border: none;
    color: #ffffff;
    background-color: #5671f6;
    padding-left: 50px;
    padding-right: 50px;
}

.mobile-buttons {
    display: none;
}

.m-menu-button,
.m-menu-search-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.menu-line {
    display: block;
    height: 2px;
    background-color: #000000;
    width: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 40px;
    transition: all 0.3s;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding: 80px 0;
    border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-radius: 5px 5px 0 0;
    width: 358px;
}

.trailer-button {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 5px 5px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #5671f6;
}

.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-bottom: 32px;
    display: block;
}

.film-description {
    font-size: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-counter {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5671f6;
    border-radius: 10px;
    margin-right: 28px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #5671F6;
}

.rating-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 65px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
    cursor: pointer;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.name {
    font-size: 16px;
    line-height: 19px;
    color: #5671f6;
    margin-top: 0;
    margin-bottom: 6px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.en-name {
    color: #a5a5a5;
}

.news {
    background-color: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 100px;
}

.section-news-title {
    font-weight: 900;
    color: #000000;
    margin-bottom: 65px;
    margin-top: 0;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    flex-basis: 23%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.news-date {
    font-size: 14px;
    line-height: 16px;
}

.news-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 14px;
}



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .card-image {
        width: 70px;
        height: 70px;
    }

    .header {
        height: 90px;
        padding-left: 20px;
    }

    .sign-up {
        padding-left: 20px;
        padding-right: 20px;
    }

    .login {
        padding-left: 40px;
        padding-right: 40px;
    }

    .navigation {
        margin-right: 20px;
    }

    .search {
        margin-left: 20px;
    }

    .navigation-link {
        margin-right: 10px;
        font-size: 16px;
    }

    .line {
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }

    .navigation {
        display: none;
    }

    .film-title {
        font-size: 24px;
        line-height: 1.4;
    }

    .film-subtitle {
        margin-bottom: 20px;
    }

    .film-description, 
    .about-film {
        margin-bottom: 30px;
    }

    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }

    .card-image {
        width: 100px;
        height: 100px;
    }

    .card {
        flex-basis: 50%;
    }

    .news-card {
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    .search {
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .header {
        height: 80px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .m-menu {
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #5671f6;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: calc(100% - 80px);
    }

    .m-menu.active {
        display: flex;
    }

    .button-group {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .navigation-link {
        color: #ffffff;
        margin-bottom: 18px;
        margin-right: 0;
        font-size: 18px;
        line-height: 21px;
    }

    .navigation-link:last-child {
        margin-bottom: 0;
    }

    .sign-up {
        background-color: transparent;
        color: #ffffff;
        border: none;
        margin-bottom: 30px;
    }

    .film {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .film-wrapper {
        flex-wrap: wrap;
    }

    .film-text {
        order: -1;
        margin-bottom: 30px;
    }

    .cast {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .search {
        margin: 0;
        width: 260px;
        height: 52px;
        background-color: #ffffff;
        border-radius: 5px;
        border: none;
        justify-content: space-between;
        padding: 15px;
    }

    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .mobile-buttons {
        display: block;
        margin-left: auto;
    }

    .line {
        display: none;
    }

    .m-menu-button.active {
        transform: translateY(-7px);
    }

    .m-menu-button.active .menu-line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        margin: 0;
    }

    .m-menu-button.active .menu-line:nth-child(2) {
        display: none;
    }

    .m-menu-button.active .menu-line:nth-child(3) {
        margin: 0;
        transform: rotate(-45deg);
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }

    .film-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    .film-subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    .film-description {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .film-trailer {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about-film {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .about-text-bold {
        display: inline-block;
    }

    .poster {
        width: 100%;
    }

    .film-text {
        order: 1;
        margin-bottom: 0px;
    }

    .card {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .card-image {
        width: 60px;
        height: 60px;
    }

    .tabs {
        margin-bottom: 35px;
    }

    .cast {
        padding-bottom: 50px;
    }

    .news-card {
        flex-basis: 100%;
    }
}