* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363636;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
}

.logo {
    padding: 35px;
    border-right: 1px solid #d4d4d4;
}

.logo-image {
    width: 68px;
}

.search {
    display: flex;
    align-items: center;
    padding: 40px 34px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.search-input {
    border: none;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    color: #a5a5a5;
    margin-left: 22px;
}

.navigation {
    margin-left: auto;
    padding: 41px 44px;
}

.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.navigation-link:hover {
    text-decoration: underline;
}

.button {
    cursor: pointer;
    outline: none;
}

.sign-up {
    color: #5671f6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: #ffffff;
    padding: 41px 34px;
    border-left: 1px solid #d4d4d4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    border: none;
    color: #ffffff;
    background-color: #5671f6;
    padding: 41px 50px;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding: 80px 0;
    border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-radius: 5px 5px 0 0;
    width: 358px;
}

.trailer-button {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 5px 5px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-bottom: 32px;
    display: block;
}

.film-description {
    font-size: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-counter {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5671f6;
    border-radius: 10px;
    margin-right: 28px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #5671F6;
}

.rating-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 65px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
    cursor: pointer;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.name {
    font-size: 16px;
    line-height: 19px;
    color: #5671f6;
    margin-top: 0;
    margin-bottom: 6px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.en-name {
    color: #a5a5a5;
}